<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free MVC.NET Template by devdap" />
    <meta name="keywords" content="free MVC.NET, free template, free MVC.NET,Bootstrap, css3, responsive" />
    <meta name="author" content="devdap.com" />
    <link rel="icon" href="~/img/favicon.ico">
    <title>@ViewBag.Title</title>

    <!-- Style -->
    <link rel="stylesheet" href="~/Content/style.css">

</head>
<body>
    <div class="menu-wrap">
        <nav class="menu navbar">
            <div class="icon-list navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#video-area">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolios">Our Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#subscribe">Subscribe</a>
                    </li>
                </ul>
            </div>
        </nav>
        <button class="close-button" id="close-button"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
    </div>
    <!-- Header Section Start -->
    
    <header id="video-area" data-stellar-background-ratio="0.5">
        <div id="bg_container">
            <video id="bg" src="~/video/video.mp4" style="position: absolute;" autoplay loop muted="true"></video>

            <div class="fixed-top">
                <div class="container">
                    <div class="logo-menu">
                        <a href="" class="logo"><strong>Arkhitech</strong></a>
                        <button class="menu-button" id="open-button"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="overlay-2"></div>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="contents text-center">
                            <h1 class="wow pos fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Creating Software With More Stability To Reach The Market Faster</h1>
                            <p class="lead pos  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Arkhitech is Web & Mobile App Development Company. We Are experienced in design & Develop websites, Mobile Apps and Applications.</p>
                            <a href="#portfolios" class="btn pos btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms"> View Our Work</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    @RenderBody()

    <!-- Footer Section Start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="social-icons wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
                        <ul>
                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="site-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
                        <p>All copyrights reserved &copy; 2018 - Designed & Developed by <a rel="nofollow" href="https://devdap.com">devdap</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="fa fa-arrow-up"></i>
    </a>

    <div id="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="~/Scripts/jquery-min.js"></script>
    <script src="~/Scripts/tether.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/mixitup.min.js"></script>
    <script src="~/Scripts/nivo-lightbox.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/jquery.nav.js"></script>
    <script src="~/Scripts/smooth-scroll.js"></script>
    <script src="~/Scripts/smooth-on-scroll.js"></script>
    <script src="~/Scripts/wow.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/waypoints.min.js"></script>
    <script src="~/Scripts/form-validator.min.js"></script>
    <script src="~/Scripts/contact-form-script.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
</html>